<!DOCTYPE html>

<html lang="fr-ch">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>[Cyberparlement] Validation de votre vote</title>
</head>
<body style="font-family: 'Roboto', 'Lucida Grande', 'DejaVu Sans', 'Bitstream Vera Sans', 'Helvetica Neue', 'Helvetica', Verdana, Arial, sans-serif">
<p>
    <small>Ceci est un email automatiquement généré par le système du cyberparlement.</small>
</p>
<h2>Bonjour {{ request.user.prenom }} {{ request.user.nom }}</h2>
<p>Veuillez valider votre vote à l'aide du code suivant : <b>{{ voteinitiative.code_validation }}</b></p>
<p>
    <a href="{{ url }}">Aller vers la page de validation &#10132;</a>
</p>
<p>
    Cordialement,<br>
    l'équipe du cyberparlement
</p>
</body>
</html>