{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block head %}
    <script src="{% static 'js/choice_handling.js' %}"></script>
{% endblock %}

{% block content %}
    <nav class="d-flex process-flow">
        <a href="{% url 'initiative-validate' id_initiative=initiative.id %}" class="nav-link">Corriger</a>
        <a href="#" class="nav-link active">Scrutin</a>
    </nav>

    <form method="POST">
        {% include 'cyberparlementInitiatives/includes/form_include.html' %}

        <div class="buttons d-flex flex-row justify-content-end">
            <button type="submit" class="btn btn-primary btn-lg mt-4">Valider</button>
        </div>
    </form>
{% endblock %}