{% extends 'base.html' %}
{% load cyberparlement %}

{% block content %}
    <h1>{{ initiative.nom }}</h1>
    <p class="text-justify">{{ initiative.description }}</p>

    <div class="card shadow-sm">
        <h3 class="card-header">Tour 1</h3>
        <div class="card-body">
            <h4 class="card-title">{{ initiative.total_votes }} vote{% if initiative.total_votes > 1 %}s{% endif %}</h4>
            <p class="card-text">
                Du {{ initiative.debut_scrutin|date:"l j F Y à G:i" }}<br>
                Au {{ initiative.fin_scrutin|date:"l j F Y à G:i" }}
            </p>
            <ul>
                {% for choix in initiative.choix %}
                    {% if choix.is_winning %}
                        <li><b>{{ choix }} ({{ choix.percentage_vote|percentage }})</b></li>
                    {% else %}
                        <li>{{ choix }} ({{ choix.percentage_vote|percentage }})</li>
                    {% endif %}
                {% endfor %}
                <li>{{ initiative.blank_field }} ({{ initiative.blank_field.total_votes }} vote{% if initiative.blank_field.total_votes > 1 %}s{% endif %})</li>
            </ul>
        </div>
        {% if initiative.need_another_turn and not initiative.is_parent and user in initiative.cyberparlement.cyberchanceliers.all %}
            <div class="card-footer d-print-none">
                <a href="{% url 'initiative-create-new-round' id_initiative=initiative.id %}" class="btn btn-primary">Créer un second tour</a>
            </div>
        {% endif %}
    </div>
    {% if initiative.is_parent %}
        {% for child in initiative.children %}
            <div class="card mt-3">
                <h3 class="card-header">Tour {{ forloop.counter|add_one }}</h3>
                <div class="card-body">
                    <h4 class="card-title">{{ child.total_votes }} vote{% if child.total_votes > 1 %}s{% endif %}</h4>
                    <p class="card-text">
                        Du {{ child.debut_scrutin|date:"l j F Y à G:i" }}<br>
                        Au {{ child.fin_scrutin|date:"l j F Y à G:i" }}
                    </p>
                    <ul>
                        {% for choix in child.choix %}
                            {% if choix.is_winning %}
                                <li><b>{{ choix }} ({{ choix.percentage_vote|percentage }})</b></li>
                            {% else %}
                                <li>{{ choix }} ({{ choix.percentage_vote|percentage }})</li>
                            {% endif %}
                        {% endfor %}
                        <li>{{ child.blank_field }} ({{ child.blank_field.total_votes }} vote{% if child.blank_field.total_votes > 1 %}s{% endif %})</li>
                    </ul>
                </div>
                {% if forloop.last %}
                    {% if child.need_another_turn and not child.is_parent and user in initiative.cyberparlement.cyberchanceliers.all %}
                        <div class="card-footer d-print-none">
                            <a href="{% url 'initiative-create-new-round' id_initiative=child.id %}" class="btn btn-primary">Créer un nouveau tour</a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}